<!-- <comp-top :title="title" :page="page"></comp-top> -->
<div class="index">
    <div class="ind-wrap">
        <ul>
            <li v-for="item in images" v-bind:style="{backgroundImage: 'url(' +item.bg + ')'}"  track-by="$index" class="ind-img"> 
                <!-- <img v-bind:src='item.bg' alt=""> -->
            </li>
        </ul>
        <!-- <img src="../../assets/image/hunter.png" alt="" /> -->
        <!-- <div :style="{backgroundImage: 'url(' +bg + ')'}" > -->
    </div>
    <div class="book" v-link="{path:'/mybusiness'}">
        <div>{{title}}</div>
    </div>
</div>
