<!-- <comp-top :title="title" :page="page"></comp-top> -->
<div class="index">
    <div class="ind-wrap">
        <ul>
            <li v-for="item in images" v-bind:style="{backgroundImage: 'url(' +item.bg + ')'}"  track-by="$index" class="ind-img"> 
                <!-- <img v-bind:src='item.bg' alt=""> -->
            </li>
        </ul>
        <!-- <img src="../../assets/image/hunter.png" alt="" /> -->
        <!-- <div :style="{backgroundImage: 'url(' +bg + ')'}" > -->
    </div>
    <div class="book" v-link="{path:'/mybusiness'}">
        <div>{{title}}</div>
    </div>
<!--     <div class="apply" style="display: none">
        <div>差旅申请 <span class="arrow"></span></div>
    </div> -->
<!--     <div class="foot">
        <div class="tel">
            <span>客服电话</span>
            <a class="numer" href="tel:010-8273651">010-8273651</a>
        </div>
    </div> -->
</div>
